code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 700;
}

li {
  list-style: none;
}

.details-container {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 5px #d3d3d3;
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.film-list > li {
  width: 300px;
  height: 500px;
  margin: 15px;
}

.filt-title {
  height: 50px;
  margin: 0px;

  text-align: center;
}

.movie-info {
  margin-left: 15px;
}

.overview {
  font-weight: 400;
}

.genres-container {
  display: flex;
  margin-right: 10px;
}

.genres-title {
  margin-right: 10px;
}

.genres-list {
  display: flex;
  padding: 0px;
}
.genres-list > li:not(:last-child) {
  margin-right: 7px;
}

.add-info-container {
  padding-bottom: 10px;

  box-shadow: 0px 5px #d3d3d3;
}
